<! -- Add Font Samim To Site -->
@font-face{
	font-family: Samim;
	src:url(../fonts/Samim.woff);
}
@font-face{
	font-family: Samim;
	font-weight: bold;
	src:url(../fonts/Samim-Bold.woff);
}
<! -- Add HTML Direction  -->
html{
	direction: rtl;
}
<! -- Setting jumbotron  -->
.jumbotron{
	margin-top: 80px;
	padding: 2rem 2rem ;
}
<! -- Setting A text_decoration  -->
a
{
	text-decoration: none !important;
}
<! -- Setting Body text_decoration & font  -->
body
{
	text-decoration: none ;
	font-family: Samim;
}
<! -- Setting loginForm  -->
#Loginform {
	margin-top:-80px;
}
#Loginform img{
	width: 90%;
}