@font-face{
	font-family: Samim;
	src:url(../fonts/Samim.woff);
}
@font-face{
	font-family: Samim;
	font-weight: bold;
	src:url(../fonts/Samim-Bold.woff);

html{
	direction: rtl;

.jumbotron{
	margin-top: 80px;
	padding: 2rem 2rem ;

a
{
	text-decoration: none !important;

body
{
	text-decoration: none ;
	font-family: Samim;

#Loginform {
	margin-top:-80px;
}
#Loginform img{
	width: 90%;

.ltr
{
	direction: ltr;

.center
{
	text-align: center;
}